<h1>Current Dinosaur Catalog</h1>
<button (click)="back()" class="btn btn-danger">Back Home</button>
<button (click)="add()" class="btn btn-primary">Add New</button>
<hr>
<div *ngFor="let dinosaur of dinosaurs">
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="dinosaurImg media-object" src="{{ dinosaur.image }}" alt="...">
        <div class="caption">
          <h2>{{ dinosaur.name }}</h2>
          <h5>Average Height: {{ dinosaur.height }}</h5>
          <h5>Average Weight: {{ dinosaur.weight }}</h5>
          <h5>Animal Kingdom Class: {{ dinosaur.kingdom }}</h5>
          <h5>Description: {{ dinosaur.description }}</h5>
          <h5>Quantity:<h5 *ngIf="!isEdit">{{ dinosaur.quantity }}</h5></h5>
          <input *ngIf="isEdit" (keydown.enter)="isEdit=false; updateDinosaur(dinosaur)" type="number" id="this.quantity" [(ngModel)]="dinosaur.quantity">
          <hr>
          <button class="btn btn-primary" (click)="this.isEdit=true">Edit Quantity</button>
      </div>
    </div>
  </div>
</div>
