<h1>Current Dinosaur List Inventory</h1>
<button (click)="back()" class="btn btn-danger">Back Home</button>
<button (click)="edit()" class="btn btn-primary">See Catalog</button>
<button (click)="add()" class="btn btn-success">Add New</button>
<hr>
<div class="search form-group">
  <input type="text" [(ngModel)]="searchText"
         class="form-control" placeholder="Search By Name" />
</div>
<h5>Or filter columns by clicking on header:</h5>
<table class="table table-striped table-responsive table-hover">
  <tr>
    <th class="pointer" (click)="sort('id')">ID</th>
    <th class="pointer" (click)="sort('name')">Name</th>
    <th class="pointer" (click)="sort('height')">Height</th>
    <th class="pointer" (click)="sort('weight')">Weight</th>
    <th class="pointer" (click)="sort('kingdom')">Kingdom</th>
    <th class="pointer" (click)="sort('description')">Description</th>
    <th class="pointer" (click)="sort('quantity')">Quantity</th>
  </tr>
  <tr *ngFor="let dinosaur of dinosaurs | search: searchText | orderby: {property: column, direction: direction}">
     <td>{{dinosaur.id + 1}}</td>
     <td>{{dinosaur.name}}</td>
     <td>{{dinosaur.height}} ft</td>
     <td>{{dinosaur.weight}} lbs</td>
     <td>{{dinosaur.kingdom}}</td>
     <td>{{dinosaur.description}}</td>
     <td>{{dinosaur.quantity}}</td>
  </tr>
</table>
