<div class="container">
  <h3>Add A New Dinosaur</h3>
  <form #f="ngForm" (ngSubmit)="createDinosaur(f)">
    <div ngModelGroup="dinosaurs" #dinosaurs="ngModelGroup">
      <div class="form-group">
        <label for="name">Dinosaur Name</label>
        <input
          required
          minlength="3"
          ngModel
          name="name"
          id="name"
          type="text"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="dinoHeight">Average Height</label>
        <input
          required
          ngModel
          name="height"
          id="height"
          type="number"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="weight">Average Weight</label>
        <input
          required
          ngModel
          name="weight"
          id="weight"
          type="number"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="kingdom">
      Class of Animal Kingdom
        </label>
        <select
          required
          ngModel
          name="kingdom"
          id="kingdom-method"
          class="form-control">
      <option *ngFor="let kingdom of kingdom" [value]="kingdom.id">
        {{ kingdom.name }}
      </option>
    </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          required
          ngModel
          name="description"
          id="comment"
          cols="30"
          rows="5"
          class="form-control">
    </textarea>
      </div>
      <div class="form-group">
        <label for="image">Add Dinosaur Photo Link</label>
        <input
          required
          ngModel
          name="image"
          id="image"
          type="text"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="quantity">Zoo Quantity</label>
        <input
          required
          ngModel
          name="quantity"
          id="quantity"
          type="number"
          class="form-control">
      </div>
    </div>
    <p>
      {{ f.value | json }}
    </p>
    <button (click)="back()" class="btn btn-danger">Back Home</button>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </form>
</div>
